.project-container {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  align-items: center;
  text-decoration: none;
}

@media only screen and (max-width: 880px) and (min-width: 600px) {
  body .project-container {
    grid-template-columns: 48% 48%;
  }
}

@media only screen and (max-width: 600px) {
  body .project-container {
    grid-template-columns: 100%;
  }
}
